<div class='container'>
  <h3>Active Leagues</h3>


    <% @leagues.each do |league| %>
      <h4><%= link_to league.name, league_path(league) %></h4>

      <p><button class="details" data-id="<%= league.id %>">Details</button></p>
      <ul id="league-<%= league.id %>-teams">
      </ul>
    <%end%>



  <% if current_user.admin %>
    <div class='admin'>
      <h4>Admin Tools</h4>
      <p><%= link_to "Create a New League", new_league_path %></p>
    </div>
  <%end%>

</div>
