<div class='container'>

  <h3>Active Leagues</h3>
  <div class='darken'>

    <% @leagues.each do |league| %>
      <h4><%= link_to league.name, league_path(league) %></h4>

      <p><a href class="details" data-id="<%= league.id %>">Details</a></p>
      <div class="league" id="league-<%= league.id %>"></div>

      <br></br>
    <%end%>


  <br></br>
  <% if current_user.admin %>
    <div class='admin'>
      <h4>Admin Tools</h4>
      <p><%= link_to "Create a New League", new_league_path %></p>
    </div>
  <%end%>
  </div>
</div>
