<div class='container'>

  <div class="darken">
    <p id="leagueName"></p>
    <p id="leagueDraft"></p>
    <p id="leagueScoring"></p>
  </div>

  <h1>Create a League</h1>
    <%= render "form" %>

</div>
