<h3>League Homepage</h3>
<ul>
<h4><%= @league.name %></h4>
  <li><%= @league.scoring_style %></li>
  <li><%= @league.draft_style %></li>
  <li><%= link_to "Edit League", edit_league_path(@league) %></li>
</ul>
