
<ol>
<% User.all.each do |user| %>
  <li><%= user.name %>
    <% if user.admin %>
      <%= "- ADMIN" %>
    <%end%>
    <%if current_user.admin%>
      <%= form_tag user_path(user), method: "delete" do %>
        <%= submit_tag "Delete" %>
      <%end%></li>
    <%end%>
<%end%>
</ol>
