<h3>Welcome, <%=@user.name.upcase%>!</h3>
<h4>Teams</h4>
<ol>
<% @user.teams.each do |team| %>
  <li><%=link_to team.name, user_team_path(team)%></li>
<%end%>
</ol>

<p><%= link_to "Create a New Team", new_user_team_path(@user) %></p>
