<div class='logo'>
  <%= image_tag ("/assets/logo.png"), class: "rounded"%>
</div>

<div class="welcome-text">
  <% if current_user %>
    <h3><a class="navbar-brand" href="<%= user_path(current_user) %>"> View Your Teams</a></h3>
  <% else %>
    <h3><a class="navbar-brand" href="<%= login_path %>">Login</a></h3>
  <%end%>

</div>
