<div class='container'>

  <h3>Current Players</h3>

  <% if current_user.admin %>
  <div class='admin'>
  <h4>Administrators</h4>
    <ul>
      <li><%= link_to "Add a Player", new_player_path %></li>
      <li>Select a player from the list below to edit his information.</li>
    </ul>
  </div>
  <%end%>


  <div class='anchors'>
    <a href="#All" id="all">All Players</a>
    <a href="#QBs" id="qbs">QBs</a>
    <a href="#RBs" id="rbs">RBs</a>
    <a href="#WRs" id="wrs">WRs</a>
    <a href="#TEs" id="tes">TEs</a>
  </div>

  <div class='darken'>
    <div id="players">
  </div>

  </div>

</div>
