<div class='container'>

  <h3><%=@player.player_name%>, <%=@player.position%>, <%=@player.nfl_team%></h3>

  <% if current_user.admin %>
    <p><%= link_to "Update Player Info", edit_player_path %></p>
  <%end%>

</div>
