/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.admin  {
  border: 3px solid blue;
  width: fit-content;
  padding: 10px;
}

.container a {
  color: #141416;
}

.field_with_errors {
  padding: 2px;
  color: red;
  font-weight: bold;
  display: table;
}

.form-group {
  padding: 20px;
}

body {
  background: url('/assets/ffb-background-color.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.darken {
  background:
    linear-gradient(
      rgba(0, 0, 0, .67),
      rgba(0, 0, 0, .9)
    ),
    url('/assets/ffb-background-color.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: fit-content;
}

.darken h2 {
  color: white;
  margin: 0;
  padding: 10px;
}

.darken h4 {
  color: white;
  margin: 0;
  padding: 10px;
}

.darken a {
  color: #eaeaea;
  margin: 0;
  text-decoration: underline;
  padding: 0 10px 0 10px;
}

.darken p {
  color: #eaeaea;
  margin: 0;
  padding: 0 10px 0 10px;
}
