// Place all the styles related to the leagues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li {
  margin-left: 1.5em;
}

.darken ul {
  color: #eaeaea;
}

.results {
  margin: 0;
  padding: 10px;
}

.league {
  color: #eaeaea;
  margin: 0;
  padding: 0 10px 0 10px;
}

.teams {
  color: #eaeaea;
  margin: 0;
  padding: 0 20px 0 20px;
}

#display {
  color: white;
}
