// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.anchors {
  font-size: 1.25rem;
  padding: 10px 0 20px 0;
  display: inline-block;
}

.list {
  background-color: #caccd1;
  width: fit-content;
}
