.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
}

a.navbar-brand {
  color: #141416;
}

a.navbar-brand:hover {
  color: #fc5f05;
}
